pkg/Database/config.ini
pkg/FireSock/socketserver.log
pkg/ModuleManager/packageInfoCache.json

pkg/Bootstrap/
pkg/CodeMirror/
pkg/Collaboration/
pkg/ContactForm/
pkg/FontAwesome/
pkg/JQuery/
pkg/Notice/
pkg/PHPMailer/
pkg/PopperJS/