pkg/Database/config.ini
pkg/FireSock/socketserver.log
pkg/ModuleManager/packageInfoCache.json

pkg/Bootstrap/
pkg/CCMS/
pkg/CodeMirror/
pkg/Collaboration/
pkg/ContactForm/
pkg/ContentType/
pkg/FontAwesome/
pkg/JQuery/
pkg/Mailer/
pkg/Notice/
pkg/PHPMailer/
pkg/PopperJS/

.htaccess
.htaccess.maintenance
.htaccess.production
index.php
maintenance.html
robots.txt