<dl>
    <div class="row"><dt class="col-12 col-sm-4">Version</dt><dd class="col-12 col-sm-8">{version}</dd></div>
    <div class="row"><dt class="col-12 col-sm-4">Release Date</dt><dd class="col-12 col-sm-8">{releasedate}</dd></div>
    <div class="row"><dt class="col-12 col-sm-4">Author</dt><dd class="col-12 col-sm-8"><a href="mailto:{authoremail}" title="{authoremail}">{authorname}</a></dd></div>
    <div class="row"><dt class="col-12 col-sm-4">CCMS Website</dt><dd class="col-12 col-sm-8"><a href="{ccmswebsite}" title="Chaos CMS Website">{ccmswebsite}</a></dd></div>
    <div class="row"><dt class="col-12 col-sm-4">Website created</dt><dd class="col-12 col-sm-8">{creationdate}</dd></div>
</dl>