<form onsubmit="collab_create();return false;">
    <div class="form-group">
        <select class="form-control" id="secureMenu_collab-create-type">
            <option value="room" selected="">New Room</option>
            <option value="list">New List</option>
        </select>
    </div>
    <div class="form-group">
        <label for="secureMenu_collab-create-members">Participants</label>
        <select multiple="" class="form-control" id="secureMenu_collab-create-members">
            <option value="*" selected="">Everyone</option>
            {members}
        </select>
    </div>
    <div class="form-group">
        <label for="secureMenu_collab-create-name">Name</label>
        <input type="text" class="form-control" id="secureMenu_collab-create-name" placeholder="Name">
    </div>
    <button type="submit" title="Create" class="collab-btn">Create</button>
</form>