		<link rel="stylesheet" type="text/css" href="/assets/site/js/codemirror/lib/codemirror.css" media="all">
		<link rel="stylesheet" href="/assets/site/css/site-1.3.3.css" media="all">
        <link rel="stylesheet" href="/core/mod/SecureMenu/securemenu-1.0.0.css" media="all">
        <link rel="stylesheet" href="/core/mod/Collaboration/collaboration-1.0.0.css" media="all">
        <script src="/core/mod/FireSock/js/firesock-0.1.0.js"></script>
        <script>var BASE_URL = "{baseUrl}";</script>
        {head}
        <style>
			.navbar .nav li * {
				color: #fff !important;
			}
			.notice-body {
				width: 100%;
				padding-right: 50px;
			}
			.close {
				z-index: 999;
			}
			.monospace {
				font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
			}
		</style>
	</head>
	<body id="page">
        {body}