<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr><th>Page ID</th><th>Title</th><th>Last Revision</th><th><i class="fas fa-lock"></i></th><th>Delete</th></tr>
        </thead>
        <tbody>{pagelist}</tbody>
    </table>
</div>
<script>
function dialog_admin_pages_togglesecure(pid) {
    state = $("#dialog_admin_pages_secure_" + pid).prop("checked");
    module_ajax("page/secure", {pid: pid, state: state}, function(data) {
        if (data == "FALSE") {
            $("#dialog_admin-pages_secure_" + pid).prop("checked", !state);
            window.alert("Couldn\'t change secure state.");
        } else if (data == "SPECIAL") {
            window.alert("Can\'t change security of \'home,\' \'default,\' or \'secureaccess\' pages!");
        } else {
            console.log(data);
            console.log("Changed security of \'" + pid + ".\'");
        }
    });
}

function dialog_admin_pages_delete(pid) {
    if (!window.confirm("Are you sure you want to permanently delete this page?", "Yes", "No")) {
        return;
    }
    module_ajax("page/remove", {pid: pid}, function (data) {
        if (data == "FALSE") {
            window.alert("Couldn\'t delete page.");
        } else if (data == "SPECIAL") {
            window.alert("Can\'t delete \'home,\' \'default,\' or \'secureaccess\' pages!");
        } else {
            window.location.reload(true);
        }
    });
}
</script>