<p>Last checked repository <span id="pkgmgr_repo_last_checked">{lastchecked}</span>&nbsp;
    <button id="pkgmgr_repo_check_button" class="btn btn-sm btn-primary" style="border-radius: 0;padding-top:2px;padding-bottom:2px;" onclick="pkgmgr_check();">Check now</button>
</p>
<ul class="nav nav-tabs" id="pkgmgr_tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pkgmgr_tab_installed" data-toggle="tab" href="#pkgmgr_tabpanel_installed" role="tab" aria-controls="pkgmgr_tabpanel_installed" aria-selected="true">Installed Packages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pkgmgr_tab_updates" data-toggle="tab" href="#pkgmgr_tabpanel_updates" role="tab" aria-controls="pkgmgr_tabpanel_updates" aria-selected="false">Updates</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pkgmgr_tab_new" data-toggle="tab" href="#pkgmgr_tabpanel_new" role="tab" aria-controls="pkgmgr_tabpanel_new" aria-selected="false">Available Packages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pkgmgr_tab_status" data-toggle="tab" href="#pkgmgr_tabpanel_status" role="tab" aria-controls="pkgmgr_tabpanel_status" aria-selected="false">Installation Status</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pkgmgr_tabpanel_installed" role="tabpanel" aria-labelledby="pkgmgr_tab_installed">
        <div class="table-responsive" style="max-height:30rem;">
            <table id="modulemanager_installed_table" class="table table-hover table-sm">
                <thead>
                    <tr><th></th></th><th>Module Name</th><th>Description</th><th>Version</th><th>Release</th><th>Authors</th><th>Dependencies</th><th></th></tr>
                </thead>
                <tbody>{modulelist}</tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pkgmgr_tabpanel_updates" role="tabpanel" aria-labelledby="pkgmgr_tab_updates">
        <div class="table-responsive" style="max-height:30rem;">
            <table id="modulemanager_updates_table" class="table table-hover">
                <thead>
                    <tr><th>Module Name</th><th>Description</th><th>Installed Version</th><th></th></tr>
                </thead>
                <tbody>{updatelist}</tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pkgmgr_tabpanel_new" role="tabpanel" aria-labelledby="pkgmgr_tab_new">
        <div class="table-responsive" style="max-height:30rem;">
            <table id="modulemanager_available_table" class="table table-hover">
                <thead>
                    <tr><th>Module Name</th><th>Description</th><th>Authors</th><th>Dependencies</th><th></th></tr>
                </thead>
                <tbody>{newlist}</tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pkgmgr_tabpanel_status" role="tabpanel" aria-labelledby="pkgmgr_tab_status">
        <span id="pkgmgr_progress_state"></span>
        <div class="table-responsive" style="max-height:30rem;">
            <table id="modulemanager_progress_table" class="table table-hover">
                <thead>
                    <tr><th>Module</th><th style="width:300px;max-width:300px">Status</th><th style="width:200px;max-width:200px;min-width:100px;"></th></tr>
                </thead>
                <tbody id="pkgmgr_progress_tablebody"><tr colspan="3"><td>Nothing installing right now</td></tr></tbody>
            </table>
        </div>
    </div>
</div>
<script>
var pkgmgr_state_interval_id = null;
var pkgmgr_installing = false;

function pkgmgr_do_update(pkg_id) {
    if (pkgmgr_installing) {
        alert("There's already a package being (un)installed.");
        return;
    }
    pkgmgr_installing = true;
    pkg_ver_id = $("#update-" + pkg_id + "-version").val();
    $('#pkgmgr_tab_status').tab('show');
    module_ajax("modulemanager/install", {pkg_id:pkg_id,ver_id:pkg_ver_id}, function(d){
        pkgmgr_state_interval_id = setInterval(function(){
            $.getJSON(BASE_URL + "/pkg/ModuleManager/install_state.json", function(state) {
                var pretty_state = "";
                switch (state['global_state']) {
                    case "start":
                        pretty_state = "Starting";
                        break;
                    case "check-dependencies":
                        pretty_state = "Checking Dependencies";
                        break;
                    case "download":
                        pretty_state = "Downloading Packages";
                        break;
                    case "unpack":
                        pretty_state = "Unpacking Packages";
                        break;
                    case "install":
                        pretty_state = "Installing Packages";
                        break;
                    case "clean":
                        pretty_state = "Cleaning Up";
                        break;
                    case "finish":
                        pretty_state = "Finished";
                        break;
                    default:
                        pretty_state = "Something went wrong";
                }

                var table = "";

                for (pkg_id in state['package_states']) {
                    pkg_state = state['package_states'][pkg_id];
                    var pretty_pkg_state = "";

                    var pretty_done_size = pkgmgr_pretty_filesize(pkg_state["done_size"]);
                    var pretty_pkg_size = pkgmgr_pretty_filesize(pkg_state["pkg_size"]);
                    var pretty_down_speed = pkgmgr_pretty_filesize(pkg_state["down_speed"]);

                    switch (pkg_state['state']) {
                        case "download-pending":
                            pretty_pkg_state = "Download Pending";
                            break;
                        case "download":
                            pretty_pkg_state = "Downloading: " + Math.round(100*pkg_state["done_size"]/pkg_state["pkg_size"], 1) + "%<br />";
                            pretty_pkg_state += "" + pretty_done_size + "/" + pretty_pkg_size + " " + pretty_down_speed + "/s";
                            break;
                        case "unpack-pending":
                            pretty_pkg_state = "Unpack Pending";
                            break;
                        case "unpack":
                            pretty_pkg_state = "Unpacking";
                            break;
                        case "install-pending":
                            pretty_pkg_state = "Install Pending";
                            break;
                        case "install":
                            pretty_pkg_state = "Installing";
                            break;
                        case "finish":
                            pretty_pkg_state = "Done";
                            break;
                        default:
                            pretty_pkg_state = "Something went wrong";
                    }
                    table += "<tr><td>" + pkg_id + " " + pkg_state['ver_id'] + "</td>";
                    table += "<td>" + pretty_pkg_state + "</td>";
                    table += "<td><div class=\"progress\"><div class=\"progress-bar" + (pkg_state['state'] == "download" ? "" : " progress-bar-striped") + "\" role=\"progressbar\" style=\"width: " + (100*pkg_state["done_size"]/pkg_state["pkg_size"]) + "%\" aria-valuenow=\"" + (100*pkg_state["done_size"]/pkg_state["pkg_size"]) + "\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div></td></tr>";
                }

                $("#pkgmgr_progress_tablebody").html(table);
                $("#pkgmgr_progress_state").text(pretty_state);

                if (state['global_state'] == "finish") {
                    clearInterval(pkgmgr_state_interval_id);
                    pkgmgr_check();
                    pkgmgr_installing = false;
                }
            });
        }, 100);
    });
}

function pkgmgr_pretty_filesize(bytes, decimals=1) {
    if (bytes === 0) return '0 Bytes';

    const k = 1024;
    const dm = decimals < 0 ? 0 : decimals;
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

    const i = Math.floor(Math.log(bytes) / Math.log(k));

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + sizes[i];
}

function pkgmgr_do_uninstall(pkg_id) {
    if (!confirm("Are you sure you want to uninstall package "+pkg_id+"?")) {
        return;
    }
    if (pkgmgr_installing) {
        alert("There's already a package being (un)installed.");
        return;
    }
    pkgmgr_installing = true;
    $('#pkgmgr_tab_status').tab('show');
    module_ajax("modulemanager/uninstall", {pkg_id:pkg_id}, function(d){
        pkgmgr_state_interval_id = setInterval(function(){
            $.getJSON(BASE_URL + "/pkg/ModuleManager/install_state.json", function(state) {
                var pretty_state = "";
                switch (state['global_state']) {
                    case "start":
                        pretty_state = "Starting";
                        break;
                    case "uninstall":
                        pretty_state = "Uninstalling Package";
                        break;
                    case "finish":
                        pretty_state = "Finished";
                        break;
                    default:
                        pretty_state = "Something went wrong";
                }

                var table = "";
                table += "<tr><td>" + pkg_id + "</td>";
                table += "<td>" + pretty_state + "</td>";
                table += "<td><div class=\"progress\"><div class=\"progress-bar progress-bar-striped\" role=\"progressbar\" style=\"width: 100%\" aria-valuenow=\"100\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div></td></tr>";

                $("#pkgmgr_progress_tablebody").html(table);
                $("#pkgmgr_progress_state").text(pretty_state);

                if (state['global_state'] == "finish") {
                    clearInterval(pkgmgr_state_interval_id);
                    pkgmgr_check();
                    pkgmgr_installing = false;
                }
            });
        }, 100);
    });
}

function pkgmgr_check() {
    $("#pkgmgr_repo_check_button").html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>&nbsp;Checking...");
    $("#pkgmgr_repo_check_button").prop("disabled", true);
    module_ajax("modulemanager/checkModules", {}, pkgmgr_update_lists);
}

function pkgmgr_update_lists(data) {
    try {
        pkg_repo = JSON.parse(data);
        var b = pkg_repo["checked"].split(/\D+/);
        last_checked =  new Date(Date.UTC(b[0], --b[1], b[2], b[3], b[4], b[5], b[6]));
        last_checked_str = last_checked.toLocaleDateString('default', {month: 'long', day: 'numeric', year: 'numeric'}) + " at ";
        h = last_checked.getHours();
        m = last_checked.getMinutes();
        s = last_checked.getSeconds();
        ap = h < 12 ? "am" : "pm";
        h = h % 12;
        h = h==0?"12":""+h;
        m = m<10?"0"+m:""+m;
        s = s<10?"0"+s:""+s;
        last_checked_str += h + ":" + m + ":" + s + ap;

        updateList = "";
        for (pkg_name in pkg_repo["updates"]) {
            pkg_versions = pkg_repo["updates"][pkg_name];
            pkg_version_keys = Object.keys(pkg_versions);
            ref_pkg_version = pkg_versions[pkg_version_keys[pkg_version_keys.length-1]];

            version_options = "";
            for (version_id of pkg_version_keys) {
                version_options += "<option value=\"" + version_id + "\">v" + pkg_versions[version_id]["module_data"]["version"].join(".") + "</option>";
            }

            install_button = "<div class=\"input-group input-group-sm\"><select id=\"update-" + pkg_name + "-version\">" + version_options + "</select>";
            install_button += "<div class=\"input-group-append\"><button class=\"btn btn-success\" style=\"border-radius: 0;\" onclick=\"pkgmgr_do_update('" + pkg_name + "');\">";
            install_button += "<i class=\"fas fa-download\"></i>&nbsp;Install</button></div></div>";

            updateList += "<tr><td>" + ref_pkg_version["module_data"]["name"] + "</td>";
            updateList += "<td>" + ref_pkg_version["module_data"]["description"] + "</td>";
            updateList += "<td>" + pkg_repo["installed"][pkg_name]["module_data"]["version"].join(".") + "</td>";
            updateList += "<td>" + install_button + "</td></tr>";
        }
        if (updateList == "") {
            updateList = "<tr><th colspan=\"4\" class=\"text-center\">No updates available</th></th></tr>";
        }

        newList = "";
        for (pkg_name in pkg_repo["new"]) {
            pkg_versions = pkg_repo["new"][pkg_name];
            pkg_version_keys = Object.keys(pkg_versions);
            ref_pkg_version = pkg_versions[pkg_version_keys[pkg_version_keys.length-1]];

            dependencyList = "";
            for (dependency of ref_pkg_version["dependencies"]["libraries"].concat(ref_pkg_version["dependencies"]["modules"])) {
                dependencyList += dependency["name"] + "&nbsp;v" + dependency["min_version"].join(".") + "<br />";
            }

            if (dependencyList === "") {
                dependencyList = "None";
            }

            version_options = "";
            for (version_id of pkg_version_keys) {
                version_options += "<option value=\"" + version_id + "\">v" + pkg_versions[version_id]["module_data"]["version"].join(".") + "</option>";
            }

            install_button = "<div class=\"input-group input-group-sm\"><select id=\"update-" + pkg_name + "-version\">" + version_options + "</select>";
            install_button += "<div class=\"input-group-append\"><button class=\"btn btn-success\" style=\"border-radius: 0;\" onclick=\"pkgmgr_do_update('" + pkg_name + "');\">";
            install_button += "<i class=\"fas fa-download\"></i>&nbsp;Install</button></div></div>";

            authors = "<b>Name:</b>&nbsp;" + ref_pkg_version["module_data"]["author"]["name"] + "<br />";
            authors += "<b>Email:</b>&nbsp;" + ref_pkg_version["module_data"]["author"]["email"] + "<br />";
            authors += "<b>Website:</b>&nbsp;" + ref_pkg_version["module_data"]["author"]["website"] + "<br />";

            newList += "<tr><td>" + ref_pkg_version["module_data"]["name"] + "</td>";
            newList += "<td>" + ref_pkg_version["module_data"]["description"] + "</td>";
            newList += "<td>" + authors + "</td><td>" + dependencyList + "</td><td>" + install_button + "</td></tr>";
        }
        if (newList == "") {
            newList = "<tr><th colspan=\"5\" class=\"text-center\">No packages available</th></th></tr>";
        }

        installedList = "";
        for (pkg_id in pkg_repo["installed"]) {
            pkg_data = pkg_repo["installed"][pkg_id];

            dependencyList = "";
            for (dependency of pkg_data["dependencies"]["libraries"].concat(pkg_data["dependencies"]["modules"])) {
                dependencyList += dependency["name"] + "&nbsp;v" + dependency["min_version"].join(".") + "<br />";
            }

            if (dependencyList === "") {
                dependencyList = "None";
            }

            uA_text = (pkg_id in pkg_repo["updates"] ? "&nbsp;<button class=\"btn btn-link\" title=\"Update Available\" style=\"padding: 0;\" onclick=\"$('#pkgmgr_tab_updates').tab('show');\"><i class=\"fas fa-chevron-circle-up\"></i></button>" : "");

            uninstall_button = "<button class=\"btn btn-outline-danger\" title=\"Uninstall Package\" onclick=\"pkgmgr_do_uninstall('" + pkg_id + "');\"><i class=\"fas fa-trash\"></i></button>";
            if (pkg_data["dependencies"]["has_dependent"]) {
                uninstall_button = '<button class="btn btn-outline-secondary" title="Other packages depend on this" disabled="disabled"><i class="fas fa-trash"></i></button>';
            }

            authors = "<b>Name:</b>&nbsp;" + pkg_data["module_data"]["author"]["name"] + "<br />";
            authors += "<b>Email:</b>&nbsp;" + pkg_data["module_data"]["author"]["email"] + "<br />";
            authors += "<b>Website:</b>&nbsp;" + pkg_data["module_data"]["author"]["website"] + "<br />";

            var b = pkg_data["module_data"]["release_date"].split(/\D+/);
            rd =  new Date(b[0], --b[1], b[2]);
            release_date = rd.toLocaleDateString('default', {month: 'long', day: 'numeric', year: 'numeric'});

            installedList += "<tr><td>" + uA_text + "</td>";
            installedList += "<td>" + pkg_data["module_data"]["name"] + "</td>";
            installedList += "<td>" + pkg_data["module_data"]["description"] + "</td>";
            installedList += "<td>" + pkg_data["module_data"]["version"].join(".") + "</td>";
            installedList += "<td>" + release_date + "</td>";
            installedList += "<td>" + authors + "</td><td>" + dependencyList + "</td><td>" + uninstall_button + "</td></tr>";
        }
        if (installedList == "") {
            installedList = "<tr><th colspan=\"8\" class=\"text-center\">No packages installed</th></th></tr>";
        }

        $("#pkgmgr_repo_last_checked").text(last_checked_str);
        $("#modulemanager_updates_table > tbody").html(updateList);
        $("#modulemanager_available_table > tbody").html(newList);
        $("#modulemanager_installed_table > tbody").html(installedList);
    } catch (err) {
        alert(err + "\n\nReceived bad repository data:\n\n" + data.substring(0, 80) + "...");
    }
    $("#pkgmgr_repo_check_button").html("Check now");
    $("#pkgmgr_repo_check_button").prop("disabled", false);
}
</script>