<h5>Updates Available</h5>
<p>Last checked never&nbsp;<button class="btn btn-sm btn-primary" style="border-radius: 0;padding-top:2px;padding-bottom:2px;">Check now</button></p>
<div class="table-responsive" style="max-height:30rem;">
    <table class="table table-hover">
        <thead>
            <tr><th>Module Name</th><th>Description</th><th>Installed Version</th><th>New Version</th><th></th></tr>
        </thead>
        <tbody><tr><th colspan="5" class="text-center">No updates available</th></th></tr></tbody>
    </table>
</div>
<hr />
<h5>Installed Modules</h5>
<div class="table-responsive" style="max-height:30rem;">
    <table class="table table-hover table-sm">
        <thead>
            <tr><th>Module Name</th><th>Description</th><th>Version</th><th>Release</th><th>Authors</th><th>Dependencies</th><th></th></tr>
        </thead>
        <tbody>{modulelist}</tbody>
    </table>
</div>
<hr />
<h5>Available Modules</h5>
<div class="table-responsive" style="max-height:30rem;">
    <table class="table table-hover">
        <thead>
            <tr><th>Module Name</th><th>Description</th><th>Version</th><th>Release</th><th>Authors</th><th>Dependencies</th><th></th></tr>
        </thead>
        <tbody><tr><th colspan="7" class="text-center">No modules available</th></th></tr></tbody>
    </table>
</div>